In [1]:
#Importing the necessary libraries
import pandas as pd
import numpy as np

In [2]:
#Loading the dataset
data = pd.read_csv("D:\\SLIIT\\3rd year 2nd sem\\Fundamentals of Data Mining\\Coding\\dpc-covid19-ita-regioni.csv")
data

,data,stato,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,...,note,ingressi_terapia_intensiva,note_test,note_casi,totale_positivi_test_molecolare,total_positives_rapid_antigen_test,swabs_molecular_test,swabs_rapid_antigen_test,code_nuts_1,code_nuts_2
0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,...,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21394,2022-12-08T17:00:00,ITA,19,Sicilia,38.115697,13.362357,419,27,446,29390,...,NaN,0.0,NaN,NaN,529779,1216833,5172593,10702507,ITG,ITG1
21395,2022-12-08T17:00:00,ITA,9,Toscana,43.769231,11.255889,527,24,551,71315,...,NaN,2.0,NaN,NaN,703607,838173,7031897,9228059,ITI,ITI1
21396,2022-12-08T17:00:00,ITA,10,Umbria,43.106758,12.388247,220,5,225,4069,...,- Si fa presente che 2 dei ricoveri non UTI ap...,0.0,NaN,NaN,156697,263291,1735175,3167267,ITI,ITI2
21397,2022-12-08T17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,19,2,21,811,...,NaN,0.0,NaN,NaN,16192,33176,145073,432514,ITC,ITC2
21398,2022-12-08T17:00:00,ITA,5,Veneto,45.434905,12.338452,988,49,1037,60271,...,Nei valori riportati per le terapie intensive ...,13.0,NaN,NaN,1019856,1563116,11079779,24484791,ITH,ITH3

In [3]:
#Exploring the dataset
data.isnull().count()

data                                   21399
stato                                  21399
codice_regione                         21399
denominazione_regione                  21399
lat                                    21399
long                                   21399
ricoverati_con_sintomi                 21399
terapia_intensiva                      21399
totale_ospedalizzati                   21399
isolamento_domiciliare                 21399
totale_positivi                        21399
variazione_totale_positivi             21399
nuovi_positivi                         21399
dimessi_guariti                        21399
deceduti                               21399
casi_da_sospetto_diagnostico           21399
casi_da_screening                      21399
totale_casi                            21399
tamponi                                21399
casi_testati                           21399
note                                   21399
ingressi_terapia_intensiva             21399
note_test                              21399
note_casi                              21399
totale_positivi_test_molecolare        21399
 total_positives_rapid_antigen_test    21399
 swabs_molecular_test                  21399
 swabs_rapid_antigen_test              21399
 code_nuts_1                           21399
 code_nuts_2                           21399
dtype: int64

In [4]:
data.describe()

,codice_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,casi_da_sospetto_diagnostico,casi_da_screening,totale_casi,tamponi,casi_testati,ingressi_terapia_intensiva
count,21399.000000,21399.000000,21399.000000,21399.000000,21399.000000,21399.000000,21399.000000,21399.000000,21399.000000,21399.000000,2.139900e+04,21399.000000,3403.000000,3402.00000,2.139800e+04,2.139900e+04,2.024500e+04,15456.000000
mean,11.857143,43.046293,12.225955,500.182438,49.998972,550.181410,23114.968830,23665.149960,24.433572,1140.638581,3.349249e+05,5188.257769,16467.931531,6319.39565,3.637953e+05,4.890656e+06,1.579514e+06,3.393439
std,6.273945,2.488839,2.659010,921.124122,102.166035,1018.245539,43415.185116,43832.006923,2181.957878,2532.712178,5.731664e+05,7393.089820,32184.920904,15054.35195,6.019911e+05,7.438816e+06,1.926626e+06,6.040425
min,1.000000,38.115697,7.320149,0.000000,0.000000,0.000000,0.000000,0.000000,-50797.000000,-229.000000,0.000000e+00,0.000000,0.000000,0.00000,0.000000e+00,0.000000e+00,5.720000e+02,-2.000000
25%,7.000000,41.125596,11.121231,50.000000,3.000000,56.000000,1215.500000,1325.500000,-93.000000,50.000000,1.130550e+04,590.000000,2051.500000,117.00000,1.530525e+04,3.548475e+05,2.442000e+05,0.000000
50%,12.000000,43.616760,12.388247,190.000000,16.000000,208.000000,6396.000000,6695.000000,3.000000,286.000000,8.443000e+04,2162.000000,5282.000000,1493.00000,1.028870e+05,1.760165e+06,7.930880e+05,1.000000
75%,17.000000,45.434905,13.768136,546.000000,47.000000,602.000000,24702.500000,25519.500000,143.000000,1146.500000,3.729290e+05,7265.500000,19284.500000,5469.00000,4.035325e+05,5.825642e+06,2.170605e+06,4.000000
max,22.000000,46.499335,16.867367,12077.000000,1381.000000,13328.000000,574548.000000,578257.000000,47483.000000,52693.000000,3.877918e+06,44073.000000,305002.000000,113150.00000,3.997099e+06,4.381851e+07,1.024301e+07,86.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21399 entries, 0 to 21398
Data columns (total 30 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   data                                 21399 non-null  object
 1   stato                                21399 non-null  object
 2   codice_regione                       21399 non-null  int64
 3   denominazione_regione                21399 non-null  object
 4   lat                                  21399 non-null  float64
 5   long                                 21399 non-null  float64
 6   ricoverati_con_sintomi               21399 non-null  int64
 7   terapia_intensiva                    21399 non-null  int64
 8   totale_ospedalizzati                 21399 non-null  int64
 9   isolamento_domiciliare               21399 non-null  int64
 10  totale_positivi                      21399 non-null  int64
 11  variazione_totale_positivi           21399 non-null  int64
 12  nuovi_positivi                       21399 non-null  int64
 13  dimessi_guariti                      21399 non-null  int64
 14  deceduti                             21399 non-null  int64
 15  casi_da_sospetto_diagnostico         3403 non-null   float64
 16  casi_da_screening                    3402 non-null   float64
 17  totale_casi                          21398 non-null  float64
 18  tamponi                              21399 non-null  int64
 19  casi_testati                         20245 non-null  float64
 20  note                                 5071 non-null   object
 21  ingressi_terapia_intensiva           15456 non-null  float64
 22  note_test                            194 non-null    object
 23  note_casi                            2649 non-null   object
 24  totale_positivi_test_molecolare      14561 non-null  object
 25   total_positives_rapid_antigen_test  14622 non-null  object
 26   swabs_molecular_test                14558 non-null  object
 27   swabs_rapid_antigen_test            14616 non-null  object
 28   code_nuts_1                         14559 non-null  object
 29   code_nuts_2                         14553 non-null  object
dtypes: float64(7), int64(11), object(12)
memory usage: 4.9+ MB

* **Axis = 1** - we drop the entire column.
* **Axis = 0** - we drop the entire row

In [8]:
#Dropping missing values
data.dropna(axis=1,inplace=True)
data.head(10)

,data,stato,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,tamponi
0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,5
1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,0
2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,1
3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,10
4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,0,18,0,0,148
5,2020-02-24T18:00:00,ITA,6,Friuli Venezia Giulia,45.649435,13.768136,0,0,0,0,0,0,0,0,0,58
6,2020-02-24T18:00:00,ITA,12,Lazio,41.892770,12.483667,1,1,2,0,2,0,2,1,0,124
7,2020-02-24T18:00:00,ITA,7,Liguria,44.411493,8.932699,0,0,0,0,0,0,0,0,0,1
8,2020-02-24T18:00:00,ITA,3,Lombardia,45.466794,9.190347,76,19,95,71,166,0,166,0,6,1463
9,2020-02-24T18:00:00,ITA,11,Marche,43.616760,13.518875,0,0,0,0,0,0,0,0,0,16

# Single Feature Scaling

Single Feature Scaling converts every value of a column into a between 0 and 1. The new value is calculated as the current value divided by the max value of the column.

In [10]:
data['tamponi'] = data['tamponi'] / data['tamponi'].max()
data.head()

,data,stato,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,tamponi
0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,1.141070e-07
1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,0.000000e+00
2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,2.282141e-08
3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,2.282141e-07
4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,0,18,0,0,3.377568e-06

# Min-Max

In [11]:
data['totale_casi'] = (data['totale_casi'] - data['totale_casi'].min()) / (data['totale_casi'].max() - data['totale_casi'].min())

KeyError: 'totale_casi'